
<%= form_tag product_purchased_items_path do %>
<div class="fronted__cart__content">
  <h1>購入</h1>
  <div class='fronted__cart__left'>
    <div class='fronted__cart__left__title'>レンタルカート</div>
          
          <% variant = @product -%>
          <ul>
            <li>
            <div class='fronted__cart__left__card'>
              <div class='fronted__cart__left__image'>
                <%= link_to(render('spree/shared/image',
                                  image: (@product.gallery.images.first || @product.product.gallery.images.first),
                                  size: :small), @product) %>
              </div>
              <div class='fronted__cart__left__content'>
                <div class='fronted__cart__left__card__title'>
                  <%=@product.name%>
                </div>
                <div class='fronted__cart__left__card__price'>
                  <span class='product-taxon'>販売価格</span>￥<%=@product.price.round%>（税込み）
                </div>
              </div>
            </div>
            </li>
          </ul>
          
        
      
    <div class='fronted__cart__left__title'>お届け先</div>
    <ul>
      <li><%= render "spree/shared/address", address: @user&.bill_address || @user&.addresses&.last %></li>
      
    </ul>
    <ul>
      <li><%= link_to 'お届け先住所変更', new_address_path %></li>
  </div>

</div>

        <% if flash[:error].present? %>
          <div id="error_explanation">
            <p><%= flash[:error] %></p>
          </div>
        <% end %>
        <label class="amount">
          <%
=begin%>
 <span>Amount: 4000円</span> 
<%
=end%>
        </label>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-amount=<%= @amount %>
        data-currency="jpy"
        data-description="クレジット決済"
        data-locale="auto"></script>
      </td>
      <%
=begin%>
 <td><a href="#">申し込み</a></td> 
<%
=end%>



  
</div>
<% end %>
