<% cache [I18n.locale, current_pricing_options, @product] do %>
  <div class="product-wrapper" data-hook="product_show" itemscope itemtype="http://schema.org/Product">
    <% @body_id = 'product-details' %>

    <div class="product-left" data-hook="product_left_part">
      <div class="row" data-hook="product_left_part_wrap">

        <div id="product-images" data-hook="product_images">
          <div id="main-image" data-hook>
            <%= render partial: 'image' %>
          </div>
          <div id="thumbnails" data-hook>
            <%= render partial: 'thumbnails' %>
          </div>
        </div>

        <div data-hook="promotions">
          <%= render partial: 'promotions' %>
        </div>

      </div>
    </div>

    <div class="product-right" data-hook="product_right_part">
      <div class="row" data-hook="product_right_part_wrap">

        <div id="product-description" data-hook="product_description">

          <h1 class="product-title" itemprop="name"><%= @product.name %></h1>

          <%= render partial: 'taxons' %>

          <div id="cart-form" data-hook="cart_form">
            <%= render partial: 'cart_form' %>
          </div>

        </div>
        <div data-hook="product_properties">
          <%= render partial: 'properties' %>
        </div>
        <div class="product-description" itemprop="description" data-hook="description">
          <h6 class="product-description-title">商品説明</h6>
          <p><%= product_description(@product) rescue t('spree.product_has_no_description') %></p>
        </div>

      </div>
    </div>
  </div>
    <div class='product-related' >
      <h2 class="fronted__top__title product-related-title">関連アイテム</h2>
      <div class='fronted__top__items'>
        <%= render partial: 'spree/shared/products', locals: { products: @related_products } %>
      </div>
      <div class='fronted__top__items fronted__top__items--sp'>
        <%= render partial: 'spree/shared/products', locals: { products: @related_products_sp } %>
      </div>
      <div class="fronted__top__more fronted__top__more--related"><%= link_to "もっとみる", products_path, class: 'button button-fukuroo' %></div>
    </div>
<% end %>
