<div class="page-top__content">
  <section class="">
    <div class='page-top__icon'>
      <%= image_tag 'logo.png', class: 'page-top__image'%>
      <div class='page-top__head page-top__head--first'>フクローの使い方</div>
      <div class='page-top__line'></div>
    </div>
    <div class='page-top__imeges'>
      <div class='page-top__imageWrapper'>
        <%= image_tag 'icon/icon1', class: 'page-top__image--first'%>
        <div class='page-top__images__description'>月額定額制の洋服レンタルサービスです</div>
      </div>
      <div class='page-top__imageWrapper'>
        <%= image_tag 'icon/icon2', class: 'page-top__images__image'%>
        <div class='page-top__images__description'>毎月2点まで借りることができ、</div>
        <div class='page-top__images__description'>洋服を返却して新しい洋服を借りられます。</div>
        <div class='page-top__images__description'>クリーニングや返送料金は0円です。*月額会員のみ</div>
      </div>
      <div class='page-top__imageWrapper'>
        <%= image_tag 'icon/icon3', class: 'page-top__images__image'%>
        <div class='page-top__images__description'>借りたもので気に入ったものであれば</div>
        <div class='page-top__images__description'>そのまま購入することもできます。</div>
      </div>
      <div class='page-top__line'></div>
    </div>
    <div class='page-top__use page-top__section'>
      <div class='page-top__head'>フクローの使い方</div>
      <div class='page-top__subtitle'>3つのステップで使い方を説明</div>
      <div class='page-top__use__imageWrapper'>
        <div class='page-top__use__image'>
          <div class='page-top__use__step'>STEP1</div>
          <%= image_tag 'logo.png', class: 'page-top__image'%>
          <div class='page-top__use__description'>お使いのPC、スマホから洋服を選択する</div>
        </div>
        <div class='page-top__use__image '>
          <div class='page-top__use__step'>STEP2</div>
          <%= image_tag 'logo.png', class: 'page-top__image'%>
          <div class='page-top__use__description'>届いた洋服でオシャレに</div>
          <div class='page-top__use__description'>気に入った洋服があれば、そのまま購入可能</div>
        </div>
        <div class='page-top__use__image'>
          <div class='page-top__use__step'>STEP3</div>
          <%= image_tag 'logo.png', class: 'page-top__image'%>
          <div class='page-top__use__description'>1ヶ月借りた洋服を返却</div>
          <div class='page-top__use__description'>次に借りた洋服を選択</div>
        </div>
      </div>
      <div class='page-top__line'></div>
    </div> 
    <div class='page-top__prices page-top__section'>
      <div class='page-top__head'>料金</div>
      <div class='page-top__subtitle'>1ヶ月間の月額定額制料金となります</div>
      <div class='page-top__price'>
        <div class='page-top__price--left'>1ヶ月の料金</div>
        <div class='page-top__price--right'>4500円</div>
      </div>
      <div class='page-top__price'>
        <div class='page-top__price--left'>1ヶ月のレンタル可能数</div>
        <div class='page-top__price--right'>2点</div>
      </div>
      <%#<% if spree_current_user
        <%#<%= link_to "サブスク登録ページへ","/charges/new" %>
      <%#<% end %>
      <div class='page-top__line'></div>
    </div>
    <div class='page-top__service page-top__section'>
      <div class='page-top__head'>サービス内容</div>
      <div class='page-top__subtitle'>1ヶ月間月額定額制で下記サービスを受けられます。</div>
      <p class='page-top__service__content'>・1ヶ月に2点の洋服をレンタルできます。</p>
      <p class='page-top__service__content'>・お客様の方でのクリーニングは不要です。<br>（洋服は毎回お送りする前に弊社でクリーニングします）</p>
      <p class='page-top__service__content'>・月額会員の方はレンタル時の配送料は一切なし！<br>安心安全の日本郵政様がお届け<br>*月額会員でなくても洋服の購入は可能です。</p>
      <p class='page-top__service__content'>・取り扱いの洋服はブランド物を多数！</p>
      <p class='page-top__service__content'>・シーン毎にお好きな洋服を選択可能！</p>
      <p class='page-top__service__content'>・会員の方は○○%引きで購入可能。</p>
    </div>
  </section>
</div>