<div class="fronted__account__content">
  <div class='fronted__account__left'>
  <%= render partial:'spree/shared/account_page_left'%>
  </div>
  <div class='fronted__account__right'>
  <h1><%= accurate_title %></h1>

    <div data-hook="account_summary" class="account-summary">
      <dl id="user-info">
        <dt><%= I18n.t('spree.email') %></dt>
        <dd><%= @user.email %> (<%= link_to "メールアドレスを変更する", spree.edit_account_path %>)</dd>
        <dt>会員状況</dt>
        <dd>
          <% if spree_current_user.try(:user_billing).try(:expired_date).present? && spree_current_user.try(:user_billing).try(:expired_date) < Date.today %>
            サブスクリプション期間の期限が切れています
            <%= link_to "サブスク登録ページへ","/charges/new" %>
          <% elsif spree_current_user.try(:user_billing).try(:ticket_number) == 0 %>
            レンタル数の上限に達したためレンタルできません
          <% elsif  current_spree_user&.user_billing&.is_billing? %>
            サブスクリプション会員登録済み
          <% else %>
            <%= link_to "サブスク登録ページへ","/charges/new" %>
          <% end %>
        </dd>

    


      </dl>
    </div>
  </div>
</div>